name: Build & Publish Deskflow Frontend
 

on:
  push:
    tags:
      - 'v1.0.0' # Dispara apenas em tags (v1.0.0, v1.0.1)

jobs:
  build:
    runs-on: self-hosted
    defaults:
      run:
        shell: powershell
        working-directory: . 

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm

      # "npm install" é mais seguro que "npm ci" se não tiver package-lock.json perfeito
      - name: Install dependencies
        run: npm install

      - name: Build Vite bundles
        run: npm run build

      - name: Build & publish Electron (Windows)
        run: npm run build:win -- --publish always
        env:
          # ATENÇÃO: Use o NOME que você deu nas Configurações do GitHub Secrets
          GH_TOKEN: ${{ secrets.ghp_deskflowcasadagrafica }}